/* Sergio Perez-Valentin */
/* September 24, 2020 */

/* Global ———————————————————————————————————————————————————————————————————— */

body {
	/* style */
	background: rgb(208,208,208);
	background: linear-gradient(0deg, rgba(208,208,208,1) 0%, rgba(255,255,255,1) 100%);
	/* global text properties */
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-align: center;
	overflow: hidden;
	width: 1792px; 
	height: 1018px;
	position: absolute;
}

/* Header ———————————————————————————————————————————————————————————————————— */

#headerBorder {
	/* position */
  	position: absolute;
    padding: 2em;
    left: 40%;
    top: 45%;
    transform: translate(-50%, -50%) rotate(45deg);
	/* style */
	height: 250px;
	width: 250px;
	border: 1px solid rgb(189,191,192);
	border-radius: 25px;
}

#headerText {
	/* position */
  	position: absolute;
    padding: 2em;
    left: 40%;
    top: 45%;
    transform: translate(-50%, -50%);
	/* style */
	color: rgb(140,140,140);
	font-weight: lighter;
}

#headerTextTop {
	font-size: 30px;
	letter-spacing: 0px;
	margin-top: 1px;
	margin-bottom: 1px;
}

#headerTextBottom {
	font-size: 50px;
	letter-spacing: 5px;
	margin-top: 1px;
	margin-bottom: 1px;
}

#headerLine {
	/* position */
	position: absolute;
	left: 11%;
	top: 25%;
	/* style */
	border-left: 1px solid rgb(189,191,192);
	height: 1000px;
	transform: rotate(45deg);
}

#quote {
	/* position */
	position: absolute;
    padding: 2em;
    left: -4.5%;
    top: 50%;
    transform: rotate(-45deg);
    /* style */
    color: rgb(140,140,140);
	font-weight: lighter;
	text-align: left;
	font-size: 20px;
	letter-spacing: 2px;
	margin-top: 1px;
	margin-bottom: 1px;
}

/* boards ———————————————————————————————————————————————————————————————————— */

.scriptBoard {
	/* position */
	position: absolute;
    padding: 2em;
    left: 70%;
    transform: translate(-50%, -50%) rotate(45deg);
    /* style */
    height: 250px;
	width: 250px;
	border-radius: 25px;
	transition: all .3s ease-in-out;
}

#scriptBoardTop:hover {
  	transform: scale(1.06) translate(-50%, -50%) rotate(45deg);
}

#scriptBoardTop {
	/* position */
    top: 25%;
	/* style */
	background: rgb(208,208,208);
	background: linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(248,248,248,1) 100%);
	box-shadow: inset -2.5px 2.5px #ffffff, 10px 60px 100px #00000070;
}

#scriptBoardBottom {
	/* position */
    top: 35%;
	/* style */
	background: rgb(255,196,125);
	background: linear-gradient(270deg, rgba(255,196,125,1) 0%, rgba(255,196,125,1) 100%);
	box-shadow: -2.5px -5px #ff9946;
	z-index: -1;
}

#scriptBoardText {
	color: rgba(179,125,67,.7);
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 5px;
	margin-top: 90%;
	white-space: nowrap;
}

#scriptImg {
	/* position */
    transform: rotate(-45deg);
    margin-left: 0px;
    margin-top: 0px;
}

.panelBoard {
	/* position */
	position: absolute;
    padding: 2em;
    left: 57%;
    transform: translate(-50%, -50%) rotate(-45deg);
    /* style */
    height: 200px;
	width: 200px;
	border-radius: 25px;
	transition: all .3s ease-in-out;
}

#panelBoardTop:hover {
  	transform: scale(1.06) translate(-50%, -50%) rotate(-45deg);
}

#panelBoardTop {
	/* position */
    top: 78%;
	/* style */
	background: rgb(208,208,208);
	background: linear-gradient(-90deg, rgba(220,220,220,1) 0%, rgba(248,248,248,1) 100%);
	box-shadow: inset -2.5px -2.5px #ffffff, -60px 10px 100px #00000070;
}

#panelBoardBottom {
	/* position */
    top: 70%;
	/* style */
	background: rgb(0,209,229);
	background: linear-gradient(-90deg, rgba(0,209,229,1) 0%, rgba(0,182,202,1) 100%);
	box-shadow: 5px -2.5px #009fb8;
	z-index: -1;
}

#panelBoardText {
	color: rgba(255,255,255, .7);
	font-weight: bold;
	font-size: 35px;
	letter-spacing: 5px;
	margin-top: -14%;
	white-space: nowrap;
}

#panelImg {
	/* position */
    transform: rotate(45deg);
    margin-left: 0px;
    margin-top: 0px;
}

.procedureBoard {
	/* position */
	position: absolute;
    padding: 2em;
    top: 65%;
    transform: translate(-50%, -50%) rotate(45deg);
    /* style */
    height: 150px;
	width: 150px;
	border-radius: 20px;
	transition: all .3s ease-in-out;
}

#procedureBoardTop:hover {
  	transform: scale(1.06) translate(-50%, -50%) rotate(45deg);
}

#procedureBoardTop {
	/* position */
    left: 83%;
	/* style */
	background: rgb(208,208,208);
	background: linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(248,248,248,1) 100%);
	box-shadow: inset -2.5px -2.5px #ffffff, 10px 60px 100px #00000070;
}

#procedureBoardBottom {
	/* position */
    left: 78%;
	/* style */
	background: rgb(255,98,95);
	background: linear-gradient(-90deg, rgba(255,98,95,1) 0%, rgba(255,102,101,1) 100%);
	box-shadow: -2px -4px #b71f0e;
}

#procedureBoardText {
	color: rgba(255,255,255, .7);
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 5px;
	margin-top: 95%;
	white-space: nowrap;
	margin-left: -20px;
	z-index: -1;
}

#procedureIcon {
	/* position */
    transform: rotate(-45deg);
    margin-left: 0px;
    margin-top: 0px;
}

.tipsBoard {
	/* position */
	position: absolute;
    padding: 2em;
    left: 85%;
    transform: translate(-50%, -50%) rotate(-45deg);
    /* style */
    height: 100px;
	width: 100px;
	border-radius: 15px;
	transition: all .3s ease-in-out;
}

#tipsBoardTop:hover {
  	transform: scale(1.06) translate(-50%, -50%) rotate(-45deg);
}

#tipsBoardTop {
	/* position */
    top: 37%;
	/* style */
	background: rgb(208,208,208);
	background: linear-gradient(-90deg, rgba(220,220,220,1) 0%, rgba(248,248,248,1) 100%);
	box-shadow: inset -2.5px -2.5px #ffffff, -60px 10px 100px #00000070;
}

#tipsBoardBottom {
	/* position */
    top: 45%;
	/* style */
	background: rgb(255,98,95);
	background: linear-gradient(135deg, rgba(255,139,103,1) 0%, rgba(255,154,115,1) 100%);
	box-shadow: 4px -2px #d1613b;
	z-index: -1;
}

#tipsBoardText {
	color: rgba(255,255,255, .7);
	font-weight: bold;
	font-size: 25px;
	letter-spacing: 5px;
	margin-top: 95%;
	white-space: nowrap;
	margin-left: 20px;
}

#tipsImg {
	/* position */
    transform: rotate(45deg);
    margin-left: 0px;
    margin-top: 0px;
}

.githubBoard {
	/* position */
	position: absolute;
    padding: 2em;
    left: 74%;
    transform: translate(-50%, -50%) rotate(-45deg);
    /* style */
    height: 50;
	width: 50;
	border-radius: 15px;
	transition: all .3s ease-in-out;
}

#githubBoardTop:hover {
  	transform: scale(1.06) translate(-50%, -50%) rotate(-45deg);
}

#githubBoardTop {
	/* position */
    top: 84%;
	/* style */
	background: rgb(208,208,208);
	background: linear-gradient(-90deg, rgba(220,220,220,1) 0%, rgba(248,248,248,1) 100%);
	box-shadow: inset -2px -2px #ffffff, -60px 10px 100px #00000070;
}

#githubBoardBottom {
	/* position */
    top: 91%;
	/* style */
	background: rgb(0,209,229);
	background: linear-gradient(135deg, rgba(0,209,229,1) 0%, rgba(148,213,210,1) 100%);
	box-shadow: 3px -1.5px #4c8e90;
	z-index: -1;
}

#githubLogo {
	/* position */
    transform: rotate(45deg);
    margin-left: -2px;
    margin-top: -8px;
}

.mediaBoard {
	/* position */
	position: absolute;
    padding: 2em;
    left: 89%;
    transform: translate(-50%, -50%) rotate(-45deg);
    /* style */
    height: 50;
	width: 50;
	border-radius: 15px;
	transition: all .3s ease-in-out;
}

#mediaBoardTop:hover {
  	transform: scale(1.06) translate(-50%, -50%) rotate(-45deg);
}

#mediaBoardTop {
	/* position */
    top: 13%;
	/* style */
	background: rgb(208,208,208);
	background: linear-gradient(-90deg, rgba(220,220,220,1) 0%, rgba(248,248,248,1) 100%);
	box-shadow: inset -2px -2px #ffffff, -60px 10px 100px #00000070;
}

#mediaBoardBottom {
	/* position */
    top: 20%;
	/* style */
	background: rgb(0,209,229);
	background: linear-gradient(135deg, rgba(0,209,229,1) 0%, rgba(148,213,210,1) 100%);
	box-shadow: 3px -1.5px #4c8e90;
	z-index: -1;
}

#mediaBoardText {
	color: rgba(255,255,255, .7);
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 3px;
	margin-top: 105%;
	white-space: nowrap;
	margin-left: -25px;
}

#facebookLogo {
	/* position */
    transform: rotate(45deg);
    margin-left: 0px;
    margin-top: 0px;
}

.profileBoard {
	/* position */
	position: absolute;
    padding: 2em;
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 10%;
    left: 50%;
	/* style */
	background: rgb(208,208,208);
	background: linear-gradient(-90deg, rgba(220,220,220,1) 0%, rgba(248,248,248,1) 100%);
	height: 50;
	width: 50;
	border-radius: 20px;
	box-shadow: inset -1.5px -1.5px #ffffff, -80px 25px 80px #00000070;
	transition: all .3s ease-in-out;
}

#profileBoardTop:hover {
  	transform: scale(1.06) translate(-50%, -50%) rotate(-45deg);
}

#profileCloseButton {
	/* position */
	position: absolute;
    top: -10%;
    left: 10%;
	/* style */
	color: rgba(140,140,140, 1);
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 25px;
	margin-left: 0px;
	display: none;
}

#profileTextInformation {
	/* position */
	position: absolute;
    top: 20%;
    left: 0%;
	/* style */
	color: rgba(140,140,140, 1);
	font-weight: normal;
	letter-spacing: 3px;
	font-size: 10px;
	display: none;
	line-height: 170%
}

#profileIcon {
	/* position */
    transform: rotate(45deg);
    margin-left: 0px;
    margin-top: 0px;
}

.logoBoard {
	/* position */
	position: absolute;
    padding: 2em;
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 15%;
    left: 10%;
	/* style */
	background: rgb(208,208,208);
	background: linear-gradient(-90deg, rgba(220,220,220,1) 0%, rgba(248,248,248,1) 100%);
	height: 500;
	width: 500;
	border-radius: 40px;
	box-shadow: inset -1.5px -1.5px #ffffff, -80px 25px 80px #00000070;
	transition: all .3s ease-in-out;
}

.logo {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom: 80px solid rgb(243,186,73);
    position: absolute;
    top: -50px;
    z-index: 1;
}

.logo:after {
    content: '';
    position: absolute;    
    left: -50px;
    top: 80px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 80px solid rgb(243,186,73);
    z-index: 1;
}

#logoTop {
	top: 1%;
	left: 10%;
	transform: rotate(90deg);
}

#logoMiddle {
	top: 8%;
	left: 16%;
	transform: rotate(90deg);
}

#logoBottom {
	top: 15%;
	left: 10%;
	transform: rotate(90deg);
}

/* plates ———————————————————————————————————————————————————————————————————— */

.plate {
	/* position */
	position: absolute;
    padding: 2em;
    transform: translate(-50%, -50%) rotate(-45deg);
    /* style */
    background: rgb(208,208,208);
	background: linear-gradient(-90deg, rgba(220,220,220,1) 0%, rgba(248,248,248,1) 100%);
	transition: all 1.2s ease-in-out;
	/* animation */
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floatingOne {
    from { transform: translate(-50%, -50%) scale(1) rotate(-45deg); }
    50%  { transform: translate(-53%, -43%) scale(1.07) rotate(-45deg); }
    to   { transform: translate(-50%, -50%) scale(1) rotate(-45deg); }    
}

@keyframes floatingTwo {
    from { transform: translate(-50%, -50%) scale(1) rotate(-45deg); }
    50%  { transform: translate(-43%, -53%) scale(.93) rotate(-45deg); }
    to   { transform: translate(-50%, -50%) scale(1) rotate(-45deg); }    
}

@keyframes floatingThree {
    from { transform: translate(-50%, -50%) scale(1) rotate(-45deg); }
    50%  { transform: translate(-50%, -57%) scale(1.05) rotate(-45deg); }
    to   { transform: translate(-50%, -50%) scale(1) rotate(-45deg); }    
}

@keyframes floatingFour {
    from { transform: translate(-50%, -50%) scale(1) rotate(-45deg); }
    50%  { transform: translate(-57%, -50%) scale(.95) rotate(-45deg); }
    to   { transform: translate(-50%, -50%) scale(1) rotate(-45deg); }    
}

#plate1 {
	/* position */
    top: 47%;
    left: 77.5%;
	/* style */
	height: 50;
	width: 50;
	border-radius: 15px;
	box-shadow: inset -1.5px -1.5px #ffffff, -80px 25px 80px #00000070;
	/* animation */
	animation-name: floatingTwo;
}

#plate2 {
	/* position */
    top: 8%;
    left: 59%;
	/* style */
	height: 15;
	width: 15;
	border-radius: 10px;
	box-shadow: inset -1.5px -1.5px #ffffff, -15px 5px 15px #00000070;
	/* animation */
	animation-name: floatingOne;
}

#plate3 {
	/* position */
    top: 27%;
    left: 50%;
	/* style */
	height: 15;
	width: 15;
	border-radius: 10px;
	box-shadow: inset -1.5px -1.5px #ffffff, -15px 5px 15px #00000070;
	/* animation */
	animation-name: floatingFour;
}

#plate4 {
	/* position */
    top: 57%;
    left: 70%;
	/* style */
	height: 15;
	width: 15;
	border-radius: 10px;
	box-shadow: inset -1.5px -1.5px #ffffff, -15px 5px 15px #00000070;
	/* animation */
	animation-name: floatingOne;
}

#plate5 {
	/* position */
    top: 66%;
    left: 65%;
	/* style */
	height: 15;
	width: 15;
	border-radius: 10px;
	box-shadow: inset -1.5px -1.5px #ffffff, -15px 5px 15px #00000070;
	/* animation */
	animation-name: floatingFour;
}

#plate6 {
	/* position */
    top: 90%;
    left: 45%;
	/* style */
	height: 15;
	width: 15;
	border-radius: 10px;
	box-shadow: inset -1.5px -1.5px #ffffff, -15px 5px 15px #00000070;
	/* animation */
	animation-name: floatingTwo;
}

#plate7 {
	/* position */
    top: 78%;
    left: 33%;
	/* style */
	height: 120;
	width: 120;
	border-radius: 15px;
	box-shadow: inset -1.5px -1.5px #ffffff, -60px 10px 100px #00000070;
	/* animation */
	/*animation-name: floatingThree;*/
}

#plate8 {
	/* position */
    top: 90%;
    left: 68%;
	/* style */
	height: 15;
	width: 15;
	border-radius: 10px;
	box-shadow: inset -1.5px -1.5px #ffffff, -15px 5px 15px #00000070;
	/* animation */
	animation-name: floatingFour;
}

#plate9 {
	/* position */
    top: 84%;
    left: 88%;
	/* style */
	height: 15;
	width: 15;
	border-radius: 10px;
	box-shadow: inset -1.5px -1.5px #ffffff, -15px 5px 15px #00000070;
	/* animation */
	animation-name: floatingOne;
}

#plate10 {
	/* position */
    top: 27%;
    left: 92%;
	/* style */
	height: 15;
	width: 15;
	border-radius: 10px;
	box-shadow: inset -1.5px -1.5px #ffffff, -15px 5px 15px #00000070;
	/* animation */
	animation-name: floatingTwo;
}

