<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    
    <!-- Page banner -->
    <header class="page-header" role="banner">
      <!-- Company title -->
      <h1 class="project-name">LATIMER GROUP DESIGN</h1>
      <h2>Download The Latest Illustrator Scripts Here</h2>
      <!-- Buttons for github site and download -->
      <!-- <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a> -->
      <a href="https://github.com/LatimerGroupDesign/LGD-Scripts/archive/master.zip" class="btn">Download .zip</a>
      <a href="https://github.com/" class="btn" width=500px>GitHub SignIn</a>
    </header>

    <!-- Page content -->
    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <!-- Footer information -->
        <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="https://github.com/sergiopv02"> Sergio Perez-Valentin</a>.</span>
      </footer>
    </main>

  </body>
</html>
